$link-color: black;
$background-color: rgb(235, 235, 235);
$border-color: rgb(200, 200, 200);

// Classes
// Template for search buttons
%search-btn {
    background-color: rgb(236, 236, 236);
    margin: 25px 25px 0 0;
    font-size: 14px;
    border-radius: 4px;
    padding: 0 16px;
    border: none;
    cursor: pointer;
}

@media (max-width: 600px) {
    /* Mobile first */

    // Tried a variable but it didn't work
    // $button-height: 28px;

    main {
        margin-top: 120px;

        img {
            margin-bottom: 30px;
            max-width: 180px;
            min-width: 120px;
        }
        
        p {
            margin-top: 16px;
        }
    }

    footer {
        font-size: 13px;
    }
    
    #search-bar {
        height: 32px;
    }

    .search-button {
        height: 28px;
        font-size: 13px;
        padding: 0 12px;
    }
    
    #info-bar {
        justify-content: center;
    }
}

@media (min-width: 601px) {
    /* Desktop second */

    main {
        margin-top: 160px;

        img {
            margin-bottom: 30px;
            width: auto;
        }

        p {
            margin-top: 26px;
        }
    }

    footer {
        font-size: 16px;   
    }

    #search-bar {
        height: 44px;
    }

    .search-button {
        height: 34px;
    }

    #info-bar {
        justify-content: space-between;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    
    a {
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }
}

main {
    text-align: center;
    p {
        font-size: 12px;
    }
    
    a {
        margin: 0 10px;
    }
    margin-bottom: 140px;
}

header {
    a {
        color: black;
        padding: 10px;
        font-size: 13px;
    }
    
    div {
        width: 100%;
    }

    .link-buttons {
        text-align: right;
        margin-top: 10px;
    }
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;

    a {
        color: gray;
    }
}

#container {
    padding: 0 20px 0 20px;
}

#search-bar {
    width: 70%;
    min-width: 300px;
    max-width: 512px;
    border: 1px solid $border-color;
    border-radius: 24px;
    padding-left: 15px;
}

#search-bar:hover {
    box-shadow: 0 0 3px 1px gray;
}

.search-button {
    @extend %search-btn;
}

.search-button:hover {
    box-shadow: 0 0 4px 2px $background-color;
}

// Footer
%footer-bar {
    line-height: 40px;
    width: 100%;
    padding-left: 26px;
    border-top: 1px solid rgb(180, 180, 180);
    background-color: $background-color;
}

#location-bar {
    @extend %footer-bar;
}

#info-bar {
    @extend %footer-bar;
    display: flex;
    flex-wrap: wrap;
    
    a {
        padding-right: 12px;
    }
    
    #legal {
        margin-right: 26px;
    }
}
